body {
    font-family: Inter;
    color: #ffd6d6;
    width: 300px;
    background-color: black;
    display: flex;
    margin: auto;
}

.about--img {
    width: 300px;
}


div {
    background-color: #2e0d0d;
    padding: 0;
    
}

.int--list {
    display: flex;
    align-items: center;
 }

.int--list > li::marker {
    color: #b54343;

}
.int--list > li {
    padding: 3px;
}

.info {
    display: flexbox;
    margin: auto;
    align-items: center;
    
}

.info--name {
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.info--button {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.info--web {
    display: flex;
    justify-content: space-evenly;
}

.info--title {
    display: flex;
    justify-content: space-evenly;
}